body {
    box-sizing: border-box;
    margin: 0px;
    padding: 20px;
    
}

#highscores {
    text-decoration: none;
    color: purple;
}

#time {
    float: right;
    color: purple;
}

.container {
    max-width: 550px;
    padding: 0;
    position: relative;
    margin: 0 auto;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

#page-header {
    text-align: center;
    text-overflow: center;
    margin: 0 auto;
}

#instructions {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button {
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    margin: 2px;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(127, 98, 136);
}

.question-header {
    text-align: left;
}

#right-or-wrong {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

.card {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
}

.active {
    opacity: 1;
    z-index: 2;
}

.evaluate {
    position: absolute;
    top: 325px;
    width: 100%;
}

.off {
    opacity: 0;
}

.on {
    opacity: 1;
    z-index: 2;
}

#out-of-time-page {
    position: absolute;
    width: 100%;
}

#goodbye {
    position: absolute;
    width: 100%;
}

#sorry {
    display: block;
    margin: 0 auto;
}

#done-header, #highscores-header, #out-of-time-header {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

#initials {
    margin-left: 5px;
    margin-right: 5px;
}

#error {
    text-align: left;
    color: rgb(111, 0, 255);
    font-weight: normal;
}

li {
    list-style-type: none;
    background-color: rgb(194, 159, 194);
}

ul {
    padding: 0;
}

button.choice {
    cursor: pointer
}

button.choice input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

button.choice span {
    padding: 2px 0px;
    display: inline-block;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase
}

button.choice input:checked+span {
    border-color: 1px solid white;
    background-color: rgb(199, 199, 209);
    color: #fff
}